[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
isort = "*"
rope = "*"

[packages]
django = "~=3.0.14"
djangorestframework = "~=3.11.0"
mysqlclient = "~=1.4.6"
celery = "~=4.4.2"
requests = "~=2.23.0"
django-celery-beat = "~=2.0.0"
gunicorn = "*"
django-heroku = "*"
djangorestframework-camel-case = "~=1.1.2"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
